@tailwind base;
@tailwind components;
@tailwind utilities;

/* 记住几个口诀：padding magin取值 8px 16px 24px，font-size：12px 14px 16px，color：#333 #666 #999 */
body {
    @apply h-screen bg-light-2 dark:bg-dark-1 ;
}

#__nuxt {
    @apply h-screen flex flex-col overflow-hidden;
}

.hidden-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hidden-scrollbar:hover::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* 设置滚动条的宽度 */
*::-webkit-scrollbar {
    width: 5px;
    /* 宽度 */
    height: 5px;
    /* 高度，对于水平滚动条 */
}

/* 设置滚动条的宽度 */
*:hover::-webkit-scrollbar {
    width: 5px;
    /* 宽度 */
    height: 5px;
    /* 高度，对于水平滚动条 */
}

/* 设置滚动条的轨道样式 */
::-webkit-scrollbar-track {
    @apply bg-gray-200;
    /* 使用 Tailwind 的背景颜色类 */
}

/* 设置滚动条的滑块样式 */
::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
    /* 使用 Tailwind 的背景颜色和圆角类 */
}

/* 滑块hover样式 */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}