@tailwind base;
@tailwind components;
@tailwind utilities;

/* 记住几个口诀：padding magin取值 8px 16px 24px，font-size：12px 14px 16px，color：#333 #666 #999 */
body {
    @apply h-screen font-sans dark:bg-dark-1 dark:text-light-1 bg-slate-100 ;
    /* background-image: url('https://images.hxsj.in/test/1.jpg'); */
    /* background-image: url('~/assets/images/1.jpg'); */
    background-image: var(--bg-body-img);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

::placeholder {
    color: var(--placeholder-text) !important;
}

.dark ::placeholder {
    color: var(--dark-placeholder-text) !important;
}

.dark>body {
    background-image: var(--dark-bg-body-img);
}

.glass,
.tippy-box[data-theme~='glass'] {
    @apply relative shadow-default dark:shadow-default  bg-[--bg-color] dark:bg-[--dark-bg-color]
}
/* shadow-center */
/* .glass::before,
.tippy-box[data-theme~='glass']::before {
    @apply absolute left-0 top-0 right-0 bottom-0 -z-[1];
    content: '';
    background-color: var(--bg-color);
    backdrop-filter: blur(var(--blur-value)) saturate(var(--saturate-value));
    transform: translateZ(0);
} */

.dark .glass::before,
.dark .tippy-box[data-theme~='glass']::before {
    background-color: var(--dark-bg-color);
    backdrop-filter: blur(var(--dark-blur-value)) saturate(var(--dark-saturate-value));
}




#__nuxt {
    @apply h-screen flex flex-col overflow-hidden;
}

.hidden-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hidden-scrollbar:hover::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* 设置滚动条的宽度 */
*::-webkit-scrollbar {
    width: 5px;
    /* 宽度 */
    height: 5px;
    /* 高度，对于水平滚动条 */
}

/* 设置滚动条的宽度 */
*:hover::-webkit-scrollbar {
    width: 5px;
    /* 宽度 */
    height: 5px;
    /* 高度，对于水平滚动条 */
}

/* 设置滚动条的轨道样式 */
::-webkit-scrollbar-track {
    @apply bg-gray-200;
    /* 使用 Tailwind 的背景颜色类 */
}

/* 设置滚动条的滑块样式 */
::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
    /* 使用 Tailwind 的背景颜色和圆角类 */
}

/* 滑块hover样式 */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}
.shadow-center{
 
    @apply shadow-default bg-[--bg-color]  dark:shadow-default dark:bg-[--dark-bg-color]

}

/* 默认未选中色 */
.uncheckedColor{
    @apply bg-[--inactive-bg-color] dark:bg-[--dark-inactive-bg-color] text-[--inactive-text-color] dark:text-[--dark-inactive-text-color] hover:bg-[--disable-color] hover:dark:bg-[--dark-disable-color] hover:text-[--active-text-color] hover:dark:text-[--dark-active-text-color]
}

/* 默认选中色 */  
.activeColor{
    @apply bg-[--active-bg-color] dark:bg-[--dark-active-bg-color] text-[--active-text-color] dark:text-[--dark-active-text-color]
}